@{
    ViewBag.Title = "¿Quiénes somos?";
}
<div class="white-text">
    <center>
        <h1>@ViewBag.Title.</h1>
        <h3>@ViewBag.Message</h3>
        <hr />
        <br />
        <div class="row">
            <div class="col s12 m12 l12">
                <center>
                    <br />
                    <h2 class="center"><i class="icon-paper-plane-1"></i></h2>
                    <h5 class="center">Misión</h5>
                    <p class="center light">Nuestra misión</p>
                </center>
            </div>
            <div class="col s12 m12 l12">
                <center>
                    <br />
                    <h2 class="center"><i class="icon-child"></i></h2>
                    <h5 class="center">Visión</h5>
                    <p class="center light">Nuestra visión</p>
                </center>
            </div>
        </div>
    </center>
</div>



