
@{
    ViewBag.Title = "Reserva";
}
<div class="container">
    <div class="row">
        <center>
            <h3 class="white-text">RESERVAR VISITA</h3>
        </center>
        <hr>
        <br>
        <div class="col s2 m1 l1">
            <a class="btn btn-floating pulse light-blue darken-4 pulse"><i class="icon-calendar"></i><a>
        </div>
        <div class="col s6 m8 l9 white-text">
            <input type="date" id="selectFecha" class="datepicker">
        </div>
        <div class="col s4 m3 l2">
            <a id="btnFecha" class="btn light-blue darken-4 waves-effect waves-light"><i class="icon-search"></i>Buscar</a>
        </div>
        <div class="col s12 m12 l12 white-text">
            Reservas disponibles para:
            <h4 class="center-align" id="campoFecha">fecha</h4>
        </div>

        <div class="row">
            <br>
            <div class="col s12 m12 l12">
                <a id="btnListar" onclick="CrearDataTable();" class="btn teal waves-effect"><i class="icon-list-numbered"></i>Mostrar Reservas</a>
            </div>
        </div>
        <div class="row white">
            <div class="col s12 m12 l12">
                <div id="tabla" class="amk">
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large teal" onclick="Nuevo();">
                <i class="large icon-plus-1"></i>
            </a>
        </div>

    </div>
    <!-- Modal Structure Reserva-->
    <div id="modalDatos" class="modal modal-fixed-footer">
        <div class="modal-content">
            <center>
                <div id="cabeceraModal">
                </div>
                <div class="row">
                    <input id="id" type="text" hidden value="0">
                    <input id="usu" type="text" hidden value="@User.Identity.Name">
                    <!--Fecha-->
                    <div class="input-field col s12 m12 l12">
                        <i class="icon-calendar-1 prefix"></i>
                        <input type="date" id="selectFechaModal" class="datepicker">
                        <label for="selectFechaModal">Fecha:</label>
                    </div>
                    <!--Horario-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="input-field col s12">
                                <p><i class="icon-clock"></i>Horario:</p>
                                <div id="campoHorario"></div>
                            </div>
                        </div>
                    </div>
                    <!--Tema(s)-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="input-field col s12">
                                <p><i class="icon-book"></i>Tema(s):</p>
                                <div id="campoTema"></div>
                                <a class="btn" onclick="console.log($('#selectTema').val())">Mostrar</a>
                                <a class="btn" onclick="$('#selectTema').val([2, 4, 6]),$('select').material_select();">Cargar 2 4 6</a>
                            </div>
                        </div>
                    </div>
                    <!--Cantidad Personas-->
                    <div class="input-field col s12 m12 l12">
                        <i class="icon-users-1 prefix"></i>
                        <input id="cantidad" type="text">
                        <label for="cantidad">Cantidad de Personas:</label>                        
                    </div>
                    <!--TipoGrupo-->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="input-field col s12">
                                <p><i class="icon-flow-cascade"></i>Tipo de Grupo:</p>
                                <div id="campoTG"></div>   
                            </div>
                        </div>
                    </div>
                </div>
                <p><i class="icon-cab"></i>Vehiculo:</p>
                <div class="row">
                    <div class="col s6 m6 l6">
                        <input name="group1" type="radio" id="vhiSi" />
                        <label for="vhiSi">Si</label>
                    </div>
                    <div class="col s6 m6 l6">
                        <input name="group1" type="radio" id="vhiNo" />
                        <label for="vhiNo">No</label>
                    </div>
                </div>
            </center>
        </div>
        <div class="modal-footer blue-grey darken-4">
            <a id="aceptar" class="waves-effect waves-green btn-flat green white-text">Aceptar</a>
            <a id="cancelar" class="modal-action modal-close waves-effect waves-red btn-flat red white-text">Cancelar</a>
        </div>
    </div>
    <div id="modalEliminar" class="modal">
        <div class="modal-content">
            <center>
                <div id="cabeceraModalEliminar">
                </div>
                <input type="text" id="idEliminar" hidden />
                <input type="text" id="nomEliminar" hidden />
            </center>
        </div>
        <div class="modal-footer blue-grey darken-4">
            <a id="aceptarEliminar" class="waves-effect waves-green btn-flat green white-text">Aceptar</a>
            <a id="cancelarEliminar" class="modal-action modal-close waves-effect waves-red btn-flat red white-text">Cancelar</a>
        </div>
    </div>
    <div id="modalProponer" class="modal">
        <div class="modal-content">
            <center>
                <h4>Ya existe una reserva para...</h4>
                <div id="ContenidoProponer"></div>
                <h4>Desea sumarse a la reserva?</h4>
                <input type="text" id="idReservaProponer"/>
                <input type="text" id="Disponible" />
                <div class="input-field col s12 m12 l12">
                    <i class="icon-right-dir prefix"></i>
                    <input id="cantidadProponer" type="text">
                    <label for="cantidadProponer">Cantidad de Personas</label>
                </div>
            </center>
        </div>
        <div class="modal-footer blue-grey darken-4">
            <a id="aceptarProponer" class="waves-effect waves-green btn-flat green white-text">Aceptar</a>
            <a id="cancelarProponer" class="modal-action modal-close waves-effect waves-red btn-flat red white-text">Cancelar</a>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/reserva")
}
